<div class="gf-form-group">
  <div class="gf-form">
    <label class="gf-form-label width-10">Experiment</label>
    <input type="text" class="gf-form-input max-width-12" ng-model="ctrl.annotation.experimentName" />
  </div>

  <div class="gf-form">
    <label class="gf-form-label width-10">Namespace</label>
    <input type="text" class="gf-form-input max-width-12" ng-model="ctrl.annotation.namespace" />
  </div>

  <div class="gf-form">
    <label class="gf-form-label width-10">Kind</label>
    <div class="gf-form-select-wrapper">
      <select
        class="gf-form-input width-12"
        ng-model="ctrl.annotation.kind"
        ng-options="f.value as f.label for f in ctrl.kindOptions"
      ></select>
    </div>
  </div>
</div>
